<template>
   <div class="bg-black">
    <div class="container padding-y-100">
        <div class="row">
            <div class="col-lg-6 d-flex flex-wrap justify-content-start align-items-center gicontent-about">
                <h1 class="text-96 color-title-green text-green-shadow">LOREM<br><span class="color-title-white">IPSUM</span></h1>
                <p class="text-20 color-title-white">Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply</p>
                <p class="text-18 color-title-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <img src="../assets/Bicycle.png" width="100%">
            </div>
        </div>
    </div>
</div>


</template>

<style scoped>
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Montserrat', 'Noto Sans Thai';
}
.text-96{
    font-size: 96px;
}
.text-20{
    font-size: 20px;
}
.text-18{
    font-size: 18px;
}
.padding-y-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.color-title-green{
    color: #D9EF0C;
}
.color-title-white{
    color: #ffffff;
}
.text-green-shadow{
    text-shadow: 0px 4px 30px rgba(33, 97, 47, 1);
}

@media (max-width: 767px) {
  .content-about {
    margin-bottom: 50px;
  }
}
</style>