<template>
    <div class="row mt-5">
        <div
          class="col-lg-4 col-md-6 col-sm-12 mb-5"
          v-for="product in products"
          :key="product.id"
        >
          <div class="card h-100">
            <img
              class="card-img-top"
              :src="product.thumbnail"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title fw-bold">
                {{ product.title }}
              </h5>
              <p class="badge text-bg-danger">
                Discount : {{ product.discountPercentage }} %
              </p>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text fw-semibold">
                Brand: <span class="fw-normal">{{ product.brand }}</span>
              </p>
              <p class="card-text fw-semibold">
                Category: <span class="fw-normal">{{ product.category }}</span>
              </p>
              <p class="card-text fw-semibold">
                Price : <span class="fw-normal">{{ product.price }}</span>
              </p>
              <p class="card-text fw-semibold">
                Rating: <span class="fw-normal">{{ product.rating }}</span>
              </p>
              <p class="card-text fw-semibold">
                Stock: <span class="fw-normal">{{ product.stock }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
</template>

<style scoped>
.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}</style>

<script>
import axios from "axios";
export default {
  data() {
    return {
      products: [],
      urlProduct: "https://dummyjson.com/products?limit=3",
    };
  },
  created() {
    this.fetchProduct();
  },
  methods: {
    fetchProduct() {
      axios
        .get(this.urlProduct)
        .then((res) => {
          this.products = res.data.products;
          console.log(this.products);
        })
        .catch((err) => {
          console.error(err);
        });
    },
  },
};
</script>
