<template>
  <div class="bg-green">
    <div class="container padding-y-100">
      <h1 class="text-uppercase text-60 text-center fw-semibold">Lorem Ipsum</h1>
      <Card/>
    </div>
  </div>
</template>

<script setup>
import Card from './Card.vue'
</script>
<style scoped>

  

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Montserrat', 'Noto Sans Thai';
}


.padding-y-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-60 {
  font-size: 60px;
}

.bg-green {
  background-color: #d9ef0c;
}

</style>
