<script setup>
import Navbar from './components/Navbar.vue'
import About from './components/About.vue'
import Carousel from './components/Carousel.vue'
import Product from './components/Product.vue'
import Contact from './components/Contact.vue'

</script>

<template>
  <Navbar/>
  <About/>
  <Carousel/>
  <Product/>
  <Contact/>
</template>


